//Breakpoints
$break-mobile: 900px;
$break-desktop: 1440px;

//Colors
$pink: hsl(322, 100%, 66%);
$paleCyan: hsl(193, 100%, 96%);
$darkCyan: hsl(192, 100%, 9%);
$grayBlue: hsl(208, 11%, 55%);

//Fonts

//Headings - 600
$poppins: 'Poppins';

//Body, CTA - 400, 700
$os: 'Open Sans';
